@import "../../styles/variaveis.scss";
@import "../../styles/mixins.scss";

.button {
	height: 50px;
	border-radius: 8px;
	font-weight: 500;
	background-color: $cor-principal;
	color: $branco;
	padding: 0 32px;

	@include flex-center;

	cursor: pointer;
	border: 0;

	transition: filter 200ms;

	img {
		margin-right: 8px;
	}

	&.outilined {
		background-color: $branco;
		border: 1px solid $cor-principal-opacidade-90;
		color: $cor-principal-opacidade-90;
	}

	&:not(:disabled):hover {
		filter: brightness(0.9);
	}

	&::disable {
		opacity: 0.6;
		cursor: not-allowed;
	}
}
