@import './variaveis';
@import './mixins';

#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;
    background-color: $cor-principal;
    color: $branco;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 120px 80px;

    img {
      max-width: 320px;
    }


    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 42px;
      margin-top: 16px;
      color: $branco-opacidade-70;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    @include flex-center
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    >img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background-color: $branco;
        border: 1px solid $cinza-claro;
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: $cinza-claro;
      margin-top: 16px;

      a {
        color: $roxo-link;
      }
    }

    .create-room {
      margin-top: 64px;
      height: 50px;
      border-radius: 8px;
      font-weight: 500;
      background-color: $vermelho;
      color: $branco;

      @include flex-center;

      cursor: pointer;
      border: 0;

      transition: filter 200ms;

      img {
        margin-right: 8px;
      }

      &:hover {
        filter: brightness(0.9);
      }
    }

    .separator {
      font-size: 14px;
      color: $cinza-claro;

      margin: 32px 0;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        flex: 1;
        height: 1px;
        background-color: $cinza-claro;
        margin-right: 16px;
      }

      &::after {
        content: '';
        flex: 1;
        height: 1px;
        background-color: $cinza-claro;
        margin-left: 16px;
      }
    }
  }
}