* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $branco-opacidade-70;
  color: $cinza-escuro;
}

body,
input,
button,
textarea {
  font: 400 16px 'Roboto', sans-serif;
}