$cor-principal: #8458fd;
$cor-principal-opacidade-90: #835afd;
$roxo-link: #e559f9;
$branco: #ffffff;
$branco-opacidade-80: #fefefe;
$branco-opacidade-70: #f7f7f7;
$branco-opacidade-50: #e2e2e2;
$cinza-escuro: #28282e;
$cinza-medio: #737380;
$cinza-claro: #a8a8b3;
$vermelho: #ea4335;